body {
    text-align: center;
    background-color: antiquewhite;
}

h1, h2, h3, li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
